/* the main text color #000000 */
/* the second text color rgba(0, 0, 0, 0.8); */
/* background white  #18A0FB;*/
/* second background: #F5F5F5; */
/* accent color #18A0FB; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo {
  color: var(--title-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}
/* hero */

.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* sectioin */

.section-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.section-description {
  font-size: 36px;
  line-height: 1.39;
}
/* advantages and projects*/

.feature-list .title,
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.feature-list .link {
  color: var(--accent-color);
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
